body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #2e2a2a;
    padding: 1em;
    
}

.navbar {
    margin: 0 auto;
    width: 75%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-size: 16pt;
    padding: 0.5rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

#navbarItem a:hover, #logo a:hover {
    color: #f3a9af;
}

.userDetailsHolder {
    width: 20%;
    margin: 4rem auto;
    padding: 1rem 2rem;
    background-color: #d8d8d8;
    border-radius: 15px;
}

.userDetailsHolder h1 {
    text-align: center;
    margin: 0.5rem;
}

#joinDate {
    display:inline-block;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
    margin: 1rem 0;
    background-color: rgb(107, 3, 167);
    color: #eeeeee;
    border-radius: 25px;
    padding: 0.3em 1em;
}

.userJoinAttr {
    text-align: center;
    margin: 0.4rem;
    font-size: 10pt;
    color: gray;
}

.userDetails {
    margin: 1rem auto 1rem auto;
    font-size: 14pt;
    border-top: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 0.5rem 0;
}

.userDetailsTextInLine {
    display: flex;
    justify-content: space-between;
}

.userDetailsTextInLine p {
    margin: 0.7rem;
}


footer {
    margin-top:auto; 
    background-color:rgb(194, 194, 194);
}

.footerContainer {
    margin: 0 auto;
    width: 70%;
    display: flex;
    padding: 1rem;
    font-size: 10pt;
}

.footerSection {
    margin: 0 2rem;
}

.footerSection ul{
    padding: 0;
}

.footerSection ul li{
    padding: 0.25rem;
    list-style-type: none;
}