body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #2e2a2a;
    padding: 1em;
}

.navbar {
    margin: 0 auto;
    width: 75%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-size: 16pt;
    padding: 0.5rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

#navbarItem a:hover, #logo a:hover {
    color: #f3a9af;
}

#messageText {
    display: none;
    text-align: center;
    background-color: rgb(52, 192, 52);
    margin: 0;
    padding: 0.5rem;
    font-size: 12pt;
}

.userDetailsHolder {
    width: 25%;
    margin: 6.5rem auto;
    padding: 1rem 2rem;
    background-color: #d8d8d8;
    border-radius: 15px;
}

.userDetailsHolder h1 {
    text-align: center;
    margin: 0.5rem;
}

.userDetailsPhoneEdit {
    display: flex;
}

#badge {
    display:inline-block;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
    margin: 0.5rem 0;
    background-color: rgb(107, 3, 167);
    color: #eeeeee;
    border-radius: 25px;
    padding: 0.3em 1em;
}

.userJoinAttr {
    text-align: center;
    margin: 0.4rem;
    font-size: 10pt;
    color: gray;
}

.userDetails {
    margin: 0.2rem auto 1rem auto;
    font-size: 12pt;
    border-top: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 0.5rem 0;
}

.userDetailsTextInLine {
    display: flex;
    justify-content: space-between;
}

#phoneEditIcon {
    margin: 0.7rem 0.7rem 0.7rem 0;
    color: rgb(38, 114, 228);
}

.userDetailsTextInLine p {
    margin: 0.7rem;
}

.userDetailsSubheading {
    text-align: center;
    margin: 0.2rem auto;
}

.cardDetails {
    margin: 0.5rem auto 1rem auto;
    font-size: 12pt;
}

.card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 0.5rem 0;
    align-items: center;
}

.card i {
    margin-left: 0.7rem;
}

#visa {
    font-size: 40pt;
    color: #1a1f71;
    /* margin: 0.7rem; */
}

#mastercard {
    font-size: 40pt;
    color: #231F20;
    /* margin: 0.7rem; */
}

#amex {
    font-size: 40pt;
    color: #2671B9;
    /* margin: 0.7rem; */
}

.expDate {
    margin-right: 0.7rem;
}

.addressDetails {
    margin: 1rem 0.7rem;
}

.address{
    text-align: center;
    background-color: #d1cece;
    padding: 0.2rem;
    margin: 0.5rem 0px;

}

#buttonDiv {
    padding: 1rem;
}

#deleteButton {
    margin: 0 1rem;
    text-decoration: none;
    background: rgb(233, 76, 76);
    border-radius: 4px;
    color: #FFF;
    padding: 0.5rem 1rem;
    cursor: pointer;   

}

#deleteButton:hover {
    background-color: #ff3022;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#editButton {
    padding: 1rem;
    text-decoration: none;
    background: rgb(38, 114, 228);
    border-radius: 4px;
    color: #FFF;
    padding: 0.5rem 1rem;
    cursor: pointer;   
}

#editButton:hover {
    background-color: rgb(45, 129, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deleteAccountButtonHolder {
    width: 85%;
    margin: 0 auto;
}

#deleteAccountButton {
    width: 100%;
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#deleteAccountButton:hover {
    background-color: #ff3022;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#legalLink {
    flex-grow: 1;
    text-align: center;
    margin: 1rem;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #e7e7e7;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 2rem;
    width: 30%;
    border-radius: 1em;
}

#modalTitle {
    margin-top: 0px;
    text-align: center;
}

select {
    margin: 0.5rem auto;
    width: 100%;
    padding: 1em 1em;
    border: none;
}

input[type=tel] {
    margin: 0.5rem auto;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
}

#submitButton {
    width: 100%;
    margin: 1rem auto;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
    margin-top:auto; 
    background-color:rgb(194, 194, 194);
}

.footerContainer {
    margin: 0 auto;
    width: 70%;
    display: flex;
    padding: 1rem;
    font-size: 10pt;
}

.footerSection {
    margin: 0 2rem;
}

.footerSection ul{
    padding: 0;
}

.footerSection ul li{
    padding: 0.25rem;
    list-style-type: none;
}

@media screen and (max-width: 1300px) {
    .userDetailsHolder {
        width: 35%;
        margin: 6.5rem auto;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 900px) {
    .userDetailsHolder {
        width: 80%;
        margin: 2rem auto;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 0.5em;
    }
    .navbar {
        width: 100%;
    }
    #navbarItem {
        font-size: 14pt;
        padding: 0.2rem;
    }
    #userDetailsNameHeading{
        margin-top: 0px;
    }
    .userDetailsHolder {
        width: 100%;
        margin: 0px;
        padding: 0px 0px 0.5rem 0px;
        border-radius: 0px;
    }
    .modal-content {
        margin: 3rem auto; /* 15% from the top and centered */
        padding: 1rem;
        width: 90%;
        border-radius: 0px;
    }
    #modalTitle {
        font-size: 18pt;
    }
}