body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: rgb(41, 41, 41);
    padding: 1em;
    
}

.navbar {
    margin: 0 auto;
    width: 75%;
}

.navbarToggle {
    display: none;
}

.navbarToggle:hover {
    color: rgb(66, 176, 255);
}

.mainNav {
    display: flex;
    flex-direction: row;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-size: 16pt;
    padding: 0.5rem;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

#navbarItem a:hover, #logo a:hover {
    color: rgb(66, 176, 255);
}

#message {
    width: 80%;
    margin: 5rem auto;
}

h1 {
    font-size: 5em;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 680px) {
    header {
        padding: 0.5em;
    }
    .navbar {
        width: 100%;
    }
    .navbarList {
        flex-direction: column;
    }
    .mainNav {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    #navbarItem {
        font-size: 14pt;
        padding: 0.2rem;
        text-align: center;
    }
    .navbarToggle {
        display: block;
        position: absolute;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
    }
}

@media only screen and (max-width: 465px) {
    header {
        padding: 0.5em;
    }
    .navbar {
        width: 100%;
    }
    #navbarItem {
        font-size: 14pt;
        padding: 0.2rem;
    }
}