body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #EED6D3;
}

header {
    background-color: #A49393;
    padding: 1em;
}

.navbar {
    margin: 0 auto;
    width: 75%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-size: 16pt;
    padding: 0.5rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: #494547;
}

#navbarItem a:hover, #logo a:hover {
    color: #f3a9af;
}

.productsContainer {
    width: 80%;
    margin: 3rem auto;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
  }

img {
    margin: 0 auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    /* margin: 4%;
    padding: 4%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* border-radius: 10px; */


    border-right: 1px solid rgba(82, 82, 82, 0.1);
    border-left: 1px solid rgba(82, 82, 82, 0.1);

    background-color: rgb(255, 255, 255);

    margin-bottom: 1rem;
    padding: 1rem;
    margin: 0.3rem;
    font-size: 11pt;
    text-align: center;
    /* max-width: 35%; */
}

.addCartButton {
    background-color: #c69cdf; /* Green */
    border: none;
    /* color: white; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    border-radius: 5px;
}

.productLinks {
    margin-top: auto;
}