body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #cec3c1;
}

header {
    background-color: #2e2a2a;
    padding: 1em;
    
}

.navbar {
    margin: 0 auto;
    width: 75%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-size: 16pt;
    padding: 0.5rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

#navbarItem a:hover, #logo a:hover {
    color: #f3a9af;
}

.callOutHolder {
    width: 100%;
    background-color: #6b2020;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.callOut {
    color: rgb(214, 214, 214);
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.callOut h4 {
    margin: 1rem;
    font-size: 32pt;
}

.callOut p {
    font-size: 18pt;
}

#learnMoreButton {
    background-color: #c69cdf; /* Green */
    border: none;
    width: 35%;
    /* color: white; */
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
    border-radius: 5px;
}

.productsContainer {
    width: 80%;
    margin: 2rem auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
  }

img {
    margin: 0 auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    /* margin: 4%;
    padding: 4%; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* border-radius: 10px; */


    border-right: 1px solid rgba(82, 82, 82, 0.1);
    border-left: 1px solid rgba(82, 82, 82, 0.1);

    background-color: rgb(255, 255, 255);

    margin-bottom: 1rem;
    padding: 1rem;
    margin: 0.3rem;
    font-size: 11pt;
    text-align: center;
    /* max-width: 35%; */
}

.addCartButton {
    background-color: #c69cdf; /* Green */
    border: none;
    /* color: white; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    border-radius: 5px;
}

.productLinks {
    margin-top: auto;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 1rem; /* Center the snackbar */
    top: 5.5rem; /* 30px from the bottom */
}

#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
    animation: fadein 0.5s, fadeout 0.5s 1s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from { opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@media only screen and (max-width: 1453px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        /* background-color: #2196F3; */
        /* padding: 10px; */
    }
    .productsContainer {
        width: 90%;
    }
}

@media only screen and (max-width: 1130px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        /* background-color: #2196F3; */
        /* padding: 10px; */
    }
    .callOut {
        color: rgb(214, 214, 214);
        width: 80%;

    }
}

@media only screen and (max-width: 935px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        /* background-color: #2196F3; */
        /* padding: 10px; */
    }
}

@media only screen and (max-width: 680px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        /* background-color: #2196F3; */
        /* padding: 10px; */
    }
    #learnMoreButton {
        background-color: #c69cdf; /* Green */
        border: none;
        width: 75%;
        /* color: white; */
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        font-size: 14pt;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 465px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        /* background-color: #2196F3; */
        /* padding: 10px; */
    }
}