backend/.env
# npm
backend/node_modules
backend/package.json
*.log
*.gz
*.txt
*.csv
backend/public

frontend/email
frontend/us/why-join/*.jpg

.vscode

tools/backroom/node_modules
tools/backroom/package.json

tools/backroom-backend/node_modules
tools/backroom-backend/package.json
tools/backroom-backend/.env

tools/fruit.html
tools/itemGetter.py
tools/csv-product-importer
tools/sku-image.py
tools/csv-product-importer
tools/m-price-checker.py
tools/m-price-updater.py

tools/aldi-scrapper/aldi-html
tools/aldi-scrapper/images
tools/aldi-scrapper/json
tools/aldi-scrapper/lookup

tools/coop-scraper/skuErrors-*.json
tools/coop-scraper/data
tools/coop-scraper/images

tools/*/node_modules
tools/*/package.json
tools/*/.env

tools/*/*/node_modules
tools/*/*/package.json
tools/*/*/.env

