backend/.env
# npm
backend/node_modules
backend/package-lock.json
*.log
*.gz
*.txt
*.csv
backend/public

frontend/email
frontend/icons
frontend/us/why-join/*.jpg

.vscode

tools/backroom/node_modules
tools/backroom/package-lock.json

tools/backroom-backend/node_modules
tools/backroom-backend/package-lock.json
tools/backroom-backend/.env

tools/fruit.html
tools/itemGetter.py
tools/csv-product-importer
tools/sku-image.py
tools/csv-product-importer
tools/m-price-checker.py
tools/m-price-updater.py

tools/aldi-scrapper/node_modules
tools/aldi-scrapper/package-lock.json
tools/aldi-scrapper/aldi-html
