backend/.env
# npm
backend/node_modules
*.log
*.gz
*.txt
*.csv
backend/public

frontend/email
frontend/us/why-join/*.jpg

.vscode

tools/backroom/node_modules

tools/backroom-backend/node_modules
tools/backroom-backend/.env

tools/fruit.html
tools/itemGetter.py
tools/csv-product-importer
tools/sku-image.py
tools/csv-product-importer
tools/m-price-checker.py
tools/m-price-updater.py

tools/aldi-scrapper/aldi-html
tools/aldi-scrapper/images
tools/aldi-scrapper/json
tools/aldi-scrapper/lookup

tools/coop-scraper/skuErrors-*.json
tools/coop-scraper/data
tools/coop-scraper/images

tools/coop-auto-price-v2/*.html
tools/coop-auto-price-v2/*.json

tools/morrisons/*.html

tools/tesco/html

tools/*/node_modules
tools/*/.env

tools/*/*/node_modules
tools/*/*/.env

.idea

