body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(241, 241, 241);;
}

header {
    background-color: rgb(41, 41, 41);
    padding: 1em;

}

h2 {
    font-weight: 400;
}

.navbar {
    margin: 0 auto;
    width: 75%;
}

.navbarToggle {
    display: none;
}

.navbarToggle:hover {
    color: rgb(66, 176, 255);
}

.mainNav {
    display: flex;
    flex-direction: row;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-size: 16pt;
    padding: 0.5rem;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

#navbarItem a:hover, #logo a:hover {
    color: rgb(66, 176, 255);;
}

.loader {
    margin: 1rem auto;
    border: 8px solid rgb(241, 241, 241);
    border-top: 8px solid rgb(66, 176, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content h2 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem;
}

.grid-item {
    text-align: center;
}

.orderStatus {
    width: 85%;
    margin: 2rem auto;
    text-align: center;
}

.orderStatusCard {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 15px;
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

.orderContent {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.orderItem {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.orderItemImgAndName {
    display: flex;
}

.orderItemImgAndName img {
    width: 50px;
}

.orderItemPriceAndAmount {
    display: flex;
}

.orderItemPriceAndAmount p {
    padding: 0 0.5rem;
}

.orderTotal {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;  
    
}

.orderTotal p {
    padding: 0.5rem;
    font-size: 14pt;
}

.deliveryContent {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.deliveryItem {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.deliveryItem p {
    margin: 0.3rem;
}

.deliveryAddress {
    text-align: left;
}

.deliveryInfo {
    text-align: right;
}

@media only screen and (max-width: 1200px) {
    .deliveryContent {
        width: 100%;
    }
    .orderContent {
        width: 100%;
    }
    .orderTotal {
        width: 100%;
    }
}

@media only screen and (max-width: 680px) {
    header {
        padding: 0.5em;
    }
    .navbar {
        width: 100%;
    }
    .navbarList {
        flex-direction: column;
    }
    .mainNav {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    #navbarItem {
        font-size: 14pt;
        padding: 0.2rem;
    }
    .navbarToggle {
        display: block;
        position: absolute;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
    }
    .grid-container {
        grid-template-columns: auto;
        padding: 0px;
    }
    .deliveryContent {
        width: 100%;
    }
    .orderContent {
        width: 100%;
    }
    .orderItemImgAndName {
        align-items: center;
    }
    .orderTotal {
        width: 100%;
    }
    .navbarToggle {
        display: block;
        position: absolute;
        right: 20px;
        cursor: pointer; 
        color: rgba(255,255,255,0.8);
        font-size: 24px;
    }