body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #e4e4e4;
}

label {
    font-size: 18px;
}

.holder {
    margin: 10rem auto;
    padding: 0.5rem 2rem 2rem 2rem;
    width: 40%;
    background-color: #fafafa;
    border-radius: 15px;
}

.holder h1 {
    text-align: center;
}

#resetExplanText {
    font-size: 18px;
}

#emailInput {
    width: 100%;
    padding: 12px 20px;
    margin: 0.3rem 0;
    box-sizing: border-box;
    font-size: 18px;
}

#resetButton {
    width: 100%;
    margin: 0.5rem 0 0.2rem 0;
    background-color: rgb(66, 176, 255); /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
}

#errorMessage {
    display: none;
    background-color: rgba(228, 52, 52, 0.541);
    text-align: center;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid red;
}

#emailSentMessage {
    display: none;
    text-align: center;
    color: #3caf23;
    font-size: 18px;
}

.loader {
    display: none;
    margin: 1rem auto;
    border-top: 8px solid rgb(66, 176, 255); /* Blue */
    border-right: 8px solid rgb(126, 243, 100);
    border-bottom: 8px solid rgb(246, 99, 99);
    border-left: 8px solid rgb(244, 186, 4);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 465px) {
    .holder {
        margin: 0;
        width: auto;
    }
}