body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(241, 241, 241);
}

header {
    background-color: rgb(41, 41, 41);
    padding: 1em;
}

.navbar {
    margin: 0 auto;
    width: 75%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-size: 16pt;
    padding: 0.5rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a, #logo a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

#navbarItem a:hover, #logo a:hover {
    color: rgb(66, 176, 255);;
}

.content {
    display: grid;
    grid-template-columns: 50vw 50vw;
}

.CartSection {
    width: 90%;
    margin: 0 auto;
}

.DeliverySection {
    width: 90%;
    margin: 0 auto;
}

#cartLabel {
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    text-align: center;
}

.cartContent {
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.cartItem p {
    font-size: 12pt;
    margin: 0;
}

#quantity {
    width: 10%;
}

.total {
    margin: 2rem auto;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    text-align: center;
    font-size: 16pt;
}

.total p {
    margin: 0;
}

.customerInfo {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5px;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customerInfo h4 {
    margin: 0.5rem;
    text-align: center;
    font-size: 16pt;
}

.customerInfo input[type=text], .customerInfo input[type=datetime-local] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.savedAddressSelector {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-items: center; */
}

.addressHolder {
    padding: 0.2rem;
}

.addressHolder:hover {
    background-color: rgba(66, 176, 255,0.5);
}

.address {
    border: 1px solid rgb(66, 176, 255);
    border-radius: 5px;
    margin: 0.5rem 0;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
    color: black;
}

.address p {
    margin: 0.5rem;
}

.addNewAddress {
    display: none;
}

.submit {
    width: 100%;
    /* margin: 1rem; */
    background-color: rgb(66, 176, 255); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11pt;
}

.submit:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 900px) {
    .content {
        display: grid;
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 500px) {
    header {
        padding: 0.5em;
    }
    .navbar {
        width: 100%;
    }
    #navbarItem {
        font-size: 14pt;
        padding: 0.2rem;
    }
    .CartSection, .DeliverySection {
        width: 100%;
    }
    #cartLabel {
        margin: 0;
        box-shadow: none;
    }
    .cartItem p {
        font-size: 14pt;
        margin: 0;
    }
    .cartContent {
        padding: 0 0.5rem;
        box-shadow: none;
    }
    .cartItem:last-child {
        margin: 0;
    }
    .total {
        margin: 0;
        padding: 1rem 0.5rem;
        border-bottom: 1px solid rgb(201, 201, 201);
        box-shadow: none;
    }
    .customerInfo {
        padding: 0 0.5rem 0.5rem 0.5rem;
        box-shadow: none;
    }

}