body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(241, 241, 241);
}

header {
    background-color: rgb(41, 41, 41);
    padding: 1em;

}

.navbar {
    margin: 0 auto;
    width: 75%;
}

.navbarList {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbarItem {
    display: inline-block;
    list-style-type: none;
    font-size: 16pt;
    padding: 0.5rem;
}

nav ul li:first-child {
    margin-right: auto;
}

#navbarItem a,
#logo a {
    text-decoration: none;
    color: rgb(224, 224, 224);
}

#navbarItem a:hover, #logo a:hover {
    color: rgb(66, 176, 255);
}

.loader {
    margin: 1rem auto;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#errorMessage {
    text-align: center;
    display: none;
}

.orders {
    width: 45%;
    margin: 2rem auto;
}

#ordersHeading {
    text-align: center;
    border-bottom: 2px solid rgb(85, 85, 85);
    padding-bottom: 0.5rem;
}

.order {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 3px;
    margin: 1rem auto 1rem auto;
}

.orderInfo {
    display: flex;
    justify-content: space-between;
    background-color: #e2e2e2;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(85, 85, 85);
}

.orderInfo p {
    word-wrap: break-word;
    margin: 0;
    font-size: 14pt;
}

.orderbody {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.orderbody p {
    margin: 0;
    font-size: 14pt;
}

.statusAndHelp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#deliveryStatus {
    /* background-color: aqua; */
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

#helpButton {
    background-color: #ec9027;
    border: none;
    color: black;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    cursor: pointer;
    border-radius: 5px;
}

#helpButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1150px) {
    .orders {
        width: 75%;
        margin: 2rem auto;
    }
}

@media only screen and (max-width: 710px) {
    .orders {
        width: 95%;
        margin: 2rem auto;
    }
}

@media only screen and (max-width: 540px) {
    .navbar {
        margin: 0 auto;
        width: 100%;
    }

    #navbarItem {
        font-size: 14pt;
    }

    .orders {
        width: 99%;
        margin: 2rem auto;
    }

    #orderIDDiv {
        width: 50%;
    }

    .orderInfo p {
        font-size: 11pt;
    }

    .orderbody p {
        font-size: 11pt;
    }
}