body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    width: 40%;
    margin: 5rem auto;
}

button, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form {
    background-color: #edededf5;
    padding: 1rem;
    border-radius: 25px;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../img.jpeg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  object-fit: cover;
    width: 100vw;
    height: 100vh;
}


input[type=text], input[type=email], input[type=password], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(173, 173, 173);
}

input[type=submit] {
    background-color: rgb(66, 176, 255);
    font-size: 12pt;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


