.App {
  background-color: rgb(241, 241, 241);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Layout {
  display: grid;
  grid-template-columns: 15% auto;
}

.Sidebar {
  background-color: rgb(41, 41, 41);
  color: white;
  height: 100vh;
}

.Content {
  margin: 1rem;
}

.order {  
  border-bottom: 1px solid rgb(24, 24, 24);
  padding: 0.5rem;
}

.order p {
  margin: 0.5rem;

}