body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(241, 241, 241);
}

.ordersList {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.order {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 0.5rem 0;
}

.order h2 {
    margin: 0px;
}

.order address {
    margin-bottom: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.late {
    margin-left: 0.5rem;
    background-color: #ff4646;
    padding: 0.2rem 1rem;
    border-radius: 25px;
    font-size: 16px;
}

.navAndStatus {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3em;
    margin: 0.5rem 0;
}

.navAndStatus p {
    margin: 0;
}

.orderStatus {
    background-color: #6aa0ff;
    padding: 0.25rem 1rem;
    border-radius: 15px;
    margin: 0px;
}

.itemCount {
    text-align: center;
    font-size: 1.8em;
}

.deliveryTime {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3em;
}

.deliveryTime p {
    margin: 0.5rem;
}

.pickNowButton {
    width: 100%;
    background-color: rgb(66, 176, 255);
    border: none;
    padding: 0.75rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
}

