/* Variables */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #cec3c1;
}

main {
  font-family: 'Roboto', sans-serif;
  background-color: #cec3c1;
  justify-content: center;
  align-content: center;
  width: 30%;
  margin: 1rem auto;
}
header {
  background-color: #2e2a2a;
  padding: 1em;
  
}

h1, h4 {
  text-align: center;
}

.navbar {
  margin: 0 auto;
  width: 75%;
}

.navbarList {
  margin: 0;
  padding: 0;
  display: flex;
}

#navbarItem {
  display: inline-block;
  list-style-type: none;
  font-size: 16pt;
  padding: 0.5rem;
}

nav ul li:first-child {
  margin-right: auto;
}

#navbarItem a, #logo a {
  text-decoration: none;
  color: rgb(224, 224, 224);
}

#navbarItem a:hover, #logo a:hover {
  color: #f3a9af;
}

.cardDetails {
  /* margin: 0.5rem auto 1rem auto; */
  font-size: 12pt;
  width: 80%;
  margin: 0.5rem auto;
  align-self: center;
  padding: 0.5rem;
}

.card {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid rgb(173, 173, 173); */
  align-items: center;
  background-color: #e6e6e628;
}

.card i {
  margin-left: 0.7rem;
}

.card:hover {
  background-color: #e6e6e6c0;
  /* color: #cfcfcf; */
}

#visa {
  font-size: 28pt;
  color: #1a1f71;
  /* margin: 0.7rem; */
}

#mastercard {
  font-size: 28pt;
  color: #231F20;
  /* margin: 0.7rem; */
}

#amex {
  font-size: 28pt;
  color: #2671B9;
  /* margin: 0.7rem; */
}

.expDate {
  margin-right: 0.7rem;
}

#payWithNewCardLinkptag {
  text-align: center;
}


main {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 15px;
}

form {
  width: 80%;
  margin: 0.5rem auto;
  align-self: center;
  padding: 1rem;
}
input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}
.result-message {
  line-height: 22px;
  font-size: 16px;
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.hidden {
  display: none;
}
#card-error {
  color: rgb(105, 115, 134);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}
#card-element {
  display: none;
  border-radius: 4px 4px 0 0 ;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

#cvcCheckText {
  display: none;
}

#cardCvcElement {
  display: none;
  border-radius: 4px 4px 0 0 ;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 20%;
  margin: 1rem auto;
  background: white;
}

#payment-request-button {
  margin-bottom: 32px;
}
/* Buttons and links */
button {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}
button:hover {
  filter: contrast(115%);
}
button:disabled {
  opacity: 0.5;
  cursor: default;
}
/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

.cartContent {
  /* width: 30%; */
  margin: 1rem auto 1rem auto;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.cartItem p {
  font-size: 12pt;
  margin: 0;
}

.deliveryInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.deliveryInfo p {
  font-size: 12pt;
  margin: 0.5rem;
}

#altDeliveryInfo, #deliveryTime, #ContactNumber {
  text-align: right;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1300px) {
  main {
      width: 60%;
      padding: 1rem 2rem;
  }
}

@media screen and (max-width: 900px) {
  main {
      width: 80%;
      padding: 1rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  header {
      padding: 0.5em;
  }
  .navbar {
      width: 100%;
  }
  #navbarItem {
      font-size: 14pt;
      padding: 0.2rem;
  }

  #order {
    display: none;
  }

  main {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    border-radius: 0;
  }

  .cardDetails {
    width: 100%;
  }

  .card {
    justify-content: space-between;
  }

  form {
    width: 100%;
    padding: 0;
  }

}