body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(241, 241, 241);
    font-size: 18px;
}

button, input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.orderItem {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(173, 173, 173);
}

.orderImageAndName {
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: space-between;
}

.buttonGroup {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

#noItemButton {
    margin: 0 0.1rem;
    background-color: hsl(20, 100%, 53%); /* Green */
    border: none;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    width: 40%;
}

#yesnoItemButton {
    margin: 0 0.1rem;
    background-color: hsl(93, 77%, 44%); /* Green */
    border: none;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    width: 40%;
}

#completeButton {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(66, 176, 255);
    border: none;
    padding: 0.75rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
}

.uploadCheckoutDataForm {
    width: 95%;
    margin: 1rem auto;
    padding: 1rem 0.5rem;
    background-color: rgb(255, 255, 255);
}

#uploadCheckoutDataButton {
    width: 100%;
    background-color: rgb(66, 176, 255);
    border: none;
    padding: 0.75rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
}

.uploadCheckoutDataForm input[type=text] {
    width: 100%;
    font-size: 18px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

